<ion-view view-title="Search By">
  <ion-content>
      <ul class="home-list-style" >
          <li class="button"> 
           <a href="#/app/playlists" >
             <img src="img/right.png" >
           
                 <h3>Search by Services</h3>
                 </a>
           </li>
           <li class="button"  >
           <a href="#/app/searchbylocation" >
             <img src="img/right.png" >
           
                 <h3>Search by Location</h3>
                 </a>
           </li>
      </ul>
  </ion-content>
</ion-view>
